html, body, nav, ul, li, div,
em, span, main, img, form, button,
header, footer, figure, a, strong,
span, input[type="text"] {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  text-decoration: inherit;
  color: inherit;
  background: transparent;
}

ul {
  list-style: none;
}

main {
  margin: 100px auto;
}

/*how to place image in the middle?*/

.google-logo {
  background-image: url(https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png);
  width: 540px;
  height: 180px;
  margin: auto;
}
