html, body, nav, ul, li, div,
em, span, main, img, form, button,
header, footer, figure, a, strong,
span, input[type="text"] {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  text-decoration: inherit;
  color: inherit;
  background: transparent;
}

.search {
  border: 1px solid grey;
}

input[type="text"] {
  display: block;
  width: 452px;
  height: 26px;
}
ul {
  list-style: none;
}

main {
  margin: 100px auto;
}

.bottom {
  width: 540px;
  margin: auto;
}
/*how to place image in the middle? switch to auto vs 0px*/

.google-logo {
  background-image: url(https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 272px;
  height: 100px;
  margin: auto;
}
